<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"
    />
    <title>Complete your payment</title>
    <script src="https://sandbox-checkout.peachpayments.com/js/checkout.js"></script>
  </head>
  <body>
    <div id="payment-form"></div>
  </body>
  <script>
    const checkout = Checkout.initiate({
      checkoutId: "<%= checkoutId %>",
      key: "<%= key %>",
      events: {
        onCompleted: (event) => {
          console.log(event);
          // Stop rendering Embedded Checkout.
          checkout.unmount();

          // Show paid.
          document.getElementById("payment-form").innerText = "Paid!";
        },
        onCancelled: (event) => {
          console.log(event);
          // Stop rendering Embedded Checkout.
          checkout.unmount();

          // Show cancelled.
          document.getElementById("payment-form").innerText = "Cancelled!";
        },
        onExpired: (event) => {
          console.log(event);
          // Stop rendering Embedded Checkout.
          checkout.unmount();

          // Show expired.
          document.getElementById("payment-form").innerText = "Expired!";
         },
       },
    });

    checkout.render("#payment-form");
</script>
</html>